ul{
    list-style-type: none;
    border: 1px solid grey;
    background-color:lightgray;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
}
li{
    float: left;
}
li a{
    display: block;
    text-decoration: none;
    color: dimgray;
    padding:14px;
}
li a:hover{
    background-color: black;
    color: white;
}
.nav-right{
    float: right;
}
.active{
    background-color: green;
    color: white;
}
.active:hover{
    background-color: green;
    color: white;
}
table{
    border-collapse:collapse ;
    width: 100%;
    margin: 10px;
    padding: 10px;
}
thead tr{
    background-color: green;
    text-align: center;
    color: white;
}
tbody tr:nth-child(odd){
   /* background-image: linear-gradient(red, yellow); */
   background-color: lightgray;
}
img{
    margin-left: 25%;
    margin-right: 25%;
}
h1{
    display: block;
    background-image: linear-gradient(lightgreen,grey);
    border: 1px solid black;
}